*{
    color: #485466 !important;
}
.gradient-text-btn {
    background: linear-gradient(to right, #C381DB, #4E92F9);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    border: 2px solid transparent;
    padding: 0.5rem 1.5rem;
    transition: all 0.3s ease-in-out;
}

.gradient-text-btn:hover {
      box-shadow: 0 4px 8px #3145FF21;
    background: linear-gradient(to right, #C381DB, #4E92F9);
    border-color: #feb47b;
    -webkit-text-fill-color: #fff;
    color: #fff;
  }
  @media (max-width:992px) {
    
      #navLinks2, 
      #navLinks {
        display: none !important;
      }
    
      #navLinks2.show, 
      #navLinks.show {
        display: flex !important;
      }
  }